#chores
  .chore
    %h1= @chore.title
    %p=  @chore.description
  
    Due date
    %nbsp= @chore.month_id
    %nbsp= "/"
    %nbsp= @chore.day
    %p
    
    Status
    %nbsp= @chore.status
    %p
    
    %button.btn.btn-default= link_to "Accept Chore", @chore.url
    %button.btn.btn-default= link_to "Home", root_path
    %button.btn.btn-default= link_to "Edit", edit_chore_path(@chore)
    %button.btn.btn-default= link_to "Delete", chore_path(@chore), method: :delete, data: { confirm: "Are you sure you want to delete this?" }
    %button.btn.btn-default= link_to "Back", root_path